In [ ]:
from tabulate import tabulate

girls = {
    "Evelyn": {"Age": 17, "Height": 5.5, "Score": 80},
    "Jessica": {"Age": 16, "Height": 6.0, "Score": 85},
    "Somto": {"Age": 17, "Height": 5.4, "Score": 70},
    "Edith": {"Age": 18, "Height": 5.9, "Score": 60},
    "Liza": {"Age": 16, "Height": 5.6, "Score": 76},
    "Madonna": {"Age": 18, "Height": 5.5, "Score": 66},
    "Waje": {"Age": 17, "Height": 6.1, "Score": 87},
    "Tola": {"Age": 20, "Height": 6.0, "Score": 95},
    "Aisha": {"Age": 19, "Height": 5.7, "Score": 50},
    "Latifa": {"Age": 17, "Height": 5.5, "Score": 49}
}

boys = {
    "Chinedu": {"Age": 19, "Height": 5.7, "Score": 74},
    "Liam": {"Age": 16, "Height": 5.9, "Score": 87},
    "Wale": {"Age": 18, "Height": 5.8, "Score": 75},
    "Gbenga": {"Age": 17, "Height": 6.1, "Score": 68},
    "Abiola": {"Age": 20, "Height": 5.9, "Score": 66},
    "Kola": {"Age": 19, "Height": 5.5, "Score": 78},
    "Kunle": {"Age": 16, "Height": 6.1, "Score": 87},
    "George": {"Age": 18, "Height": 5.4, "Score": 98},
    "Thomas": {"Age": 17, "Height": 5.8, "Score": 54},
    "Wesley": {"Age": 19, "Height": 5.7, "Score": 60}
}

students = {**girls, **boys}       #Combines the two tables

table_data = []
for name, info in students.items():
    table_data.append([name, info["Age"], info["Height"], info["Score"]])

print(tabulate(table_data, headers=["Name", "Age", "Height", "Score"], tablefmt="grid"))

In [ ]:
print("Izifin Technology Tax Calculator")
print("Please enter your age and years of experience")

experience = float(input("Enter years of experience: "))
age = int(input("Enter age: "))

if experience > 25 and age >= 55:
    tax = 5_600_000
elif experience > 20 and age >= 45:
    tax = 4_480_000
elif experience > 10 and age >= 35:
    tax = 1_500_000
else:
    tax = 550_000

print("Annual Tax Revenue: N", tax )